## Exercise Questions


#### Exercise Question 1 : Given a two list.Create a third list by picking an odd-index element from the frist list and even index element form second.

In [6]:
list_1 = [3,6,9,12,15,18,21]
list_2 = [4,8,12,16,20,24,28]
list_3,list_3_1,list_3_2 = [],[],[]

print(" list one")
for i in range(1,len(list_1)):
    if i % 2 == 0 :
        list_3_1.append(list_1[i-1])
print(list_3_1)
    
print("list two")
for i in range(1,len(list_2)+1):
    if i % 2 != 0 :
        list_3_2.append(list_2[i-1])
print(list_3_2)

print(" thord list ")
list_3 = [i for i in list_3_1]
list_3 += [ i for i in list_3_2]
print(list_3)

 list one
[6, 12, 18]
list two
[4, 12, 20, 28]
 thord list
[6, 12, 18, 4, 12, 20, 28]

#### Exercies Question 2 : given an input list removes the element at index 4 and add it to the 2nd position and also ,at the end of the list

In [9]:
List  = [34,54,67,89,11,43,94]
print("main : ",List)

opn = List[5]
List.remove(opn)
print('removing index 5 : ',List)
List.insert(3,opn)
print('Adding index 3 : ',List)
List.append(opn)
print("Adding list : ",List)

main :  [34, 54, 67, 89, 11, 43, 94]
removing index 5 :  [34, 54, 67, 89, 11, 94]
Adding index 3 :  [34, 54, 67, 43, 89, 11, 94]
Adding list :  [34, 54, 67, 43, 89, 11, 94, 43]

#### Exercise Question 3 : Given a list slice It into a 3 equal chunks and reverse each list

In [14]:
List_sp = [11,45,8,23,14,12,78,45,89]
print("Original list",sampleList)
i,n,opn = 1,2,[]
while List_sp != []:
    opn =List_sp[:3]
    List_sp = List_sp[n+1:]
    print('Chunking',i,opn)
    opn.reverse()
    print('After reversion  =',opn)
    i += 1

Original list []
Chunking 1 [11, 45, 8]
After reversion  = [8, 45, 11]
Chunking 2 [23, 14, 12]
After reversion  = [12, 14, 23]
Chunking 3 [78, 45, 89]
After reversion  = [89, 45, 78]

#### Exercise Question 4 : Given a list iterate it and count the occurrence of each element and create a dictionary to show the count of each element

In [25]:
List = [11,45,8,11,23,45,23,45,89]
print("main list",List)
dis_ex = {}
while List != []:
    count = [i for i in List if i == List[0]]
    dis_ex.update({List[0]:len(count)})
    opn = List[0]
    for i in range(len(count)) :
        List.remove(opn)
        
print("count item",dis_ex)

main list [11, 45, 8, 11, 23, 45, 23, 45, 89]
count item {11: 2, 45: 3, 8: 1, 23: 2, 89: 1}

#### Exercise Question 5 : Given a list of equal size create a set such that it shows the element from both the first set

In [32]:
f_List = [2,3,4,5,6,7,8]
s_List = [4,9,16,25,36,49,64]
re_turn = set()
for i in f_List :
    if (i*i) in s_List :
        re_turn.add(tuple([i,s_List[s_List.index(i*i)]]))
print("First_List",f_List)
print("second_List",s_List)
print("Return_List is",re_turn)

First_List [2, 3, 4, 5, 6, 7, 8]
second_List [4, 9, 16, 25, 36, 49, 64]
Return_List is {(7, 49), (2, 4), (4, 16), (8, 64), (6, 36), (3, 9), (5, 25)}

#### Exercise Question 6 : Given a following two sets find the intersection and remove those elements from the first set

In [33]:
first_Set = {65,42,78,83,23,57,29}
Second_Set = {67,73,43,48,83,57,29}
opn = set()
print("First_Set : ",end="")
for i in first_Set :
    print(i,end=" ")

print("\nSecond_Set : ",end="")
for i in Second_Set :
    print(i,end=" ")
    
print("\nIntersection is  : ",end="")
for i in  firstSet :
    if i in Second :
        print(i,end=" ")
    else:
        opn.add(i)

print("\nFirst Set after removing common element : ",end="")
for i in opn :
    print(i,end=" ")

First_Set : 65 42 78 83 23 57 29
Second_Set : 67 73 43 48 83 57 29
Intersection is  : 83 57 29
First Set after removing common element : 65 42 78 23

#### Exercise Question 7 : Given two sets,Checks if One Set is Subset or superset or superset of Another Set .if the subset is found delete all element from that set

In [39]:
frist_set = {57,83,29}
seccond_set = {67,73,43,48,83,57,29}

print("\nFirst_Set ",end=" ")
for i in frist_set :
    print(i,end=" ")
    
print("\nSecond_Set ",end=" ")
for i in seccond_set :
    print(i,end=" ")
    
print("\n\nFirst_set_is_subset_of_second_set - ",frist_set.issubset(seccond_set))
print("second_set_is_subset_of_first_set - ",seccond_set.issubset(frist_set))
print("\n\nFirst_set_is_subset_of_second_set - ",frist_set.issuperset(seccond_set))
print("second_set_is_subset_of_first_set - ",seccond_set.issuperset(frist_set))

print("\n\nFirst_Set ",set())
print("Second_Set ",end=" ")
for i in seccond_set :
    print(i,end=" ")

First_Set  57 83 29
Second_Set  67 73 43 48 83 57 29

First_set_is_subset_of_second_set -  True
second_set_is_subset_of_first_set -  False


First_set_is_subset_of_second_set -  False
second_set_is_subset_of_first_set -  True


First_Set  set()
Second_Set  67 73 43 48 83 57 29

#### Excercise Qquestion 8 : Iterate a given list and Check if a given elemant already in a dictionary as a key's value if not delete it from the list

In [45]:
Number_r = [47,64,69,39,76,83,95,97]
Dict_sp = {'jhon':47,'Emma':69,'Kelly':76,'Kason':97}
print("Given: ")
print('roll_Number = ',Number_r)
print('sample_Dict = ',Dict_sp)
print("\nExpected Outcome:")
opn = Dict_sp.values()
opn2 = [47,64,69,39,76,83,95,97]
for i in range(len(opn2)) :
    if opn2[i] not in opn :
        Number_r.remove(opn2[i])
print('removing element from list  ',Number_r)

Given:
roll_Number =  [47, 64, 69, 39, 76, 83, 95, 97]
sample_Dict =  {'jhon': 47, 'Emma': 69, 'Kelly': 76, 'Kason': 97}

Expected Outcome:
removing element from list   [47, 69, 76, 97]

#### Exercise Question 9 : Given a dictionary get all values from the dictionary and add it in a list but don't add duplicates

In [50]:
Dict_nary = {'jan':47,'feb':52,'march':47,'April':44,'May':52,'June':53,'july':54,'Aug':44,'Sept':54}
key_new = Dict_nary.values()
opn = []
for i in key_new :
    if i not in opn :
        opn.append(i)
print(opn)

[47, 52, 44, 53, 54]

#### Exercise Question 10 : Remove duplicate from a list and create a tuple and find the minimum and maximum number

In [54]:
Ex_sp = [87,45,41,65,94,41,99,94]
print("For_Ins_tance :")
print("Ins_tance_List = ",Ex_sp)
opn = []
for k in Ex_sp :
    if k not in opn :
        opn.append(k)
Ex_sp = opn
print("Expec_ted_Outcome :")
print("uni_que_items = ",Ex_sp)
print("tu_ple = ",tuple(Ex_sp))
print("min : ",min(Ex_sp),'max : ',max(Ex_sp))

For_Ins_tance :
Ins_tance_List =  [87, 45, 41, 65, 94, 41, 99, 94]
Expec_ted_Outcome :
uni_que_items =  [87, 45, 41, 65, 94, 99]
tu_ple =  (87, 45, 41, 65, 94, 99)
min :  41 max :  99

#### Kittikhun Klinnarai No.8 6310301008